.topics{
    background: var(--dark-degrade);
    text-align: center;
    padding: 1em 0;
}

.topics__title{
    font-family: var(--main-font);
    color: var(--white);
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__link{
    font-family: var(--main-font);
    color: var(--white);
    padding: 1em;
    background-color: var(--light-dark);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topics__item{
    margin: 2em 0.5em;
}